:root {
    --color-primary: #f9d72f;
    --color-background: #e6e6e6;
    --color-task: #f7f7f7;
    --color-success: #36d39a;
    --color-warning: #fbbe23;
    --color-error: #ED2E2E;
}

@font-face {
    font-family: volta-reg;
    src: url("../fonts/VolteRounded-Regular.ttf") format("truetype");
}

@font-face {
    font-family: volta-med;
    src: url("../fonts/VolteRounded-Medium.ttf") format("truetype");
}

@font-face {
    font-family: volta-sem;
    src: url("../fonts/VolteRounded-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: volta-bold;
    src: url("../fonts/VolteRounded-Bold.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: volta-med
}
.main-container {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    margin: 40px 10px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h2 {
    font-family: volta-bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #0C3A52;
}

.input-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.input-section input {
    margin-right: 10px;
    width: 100%;
    border: #1D91CC 1px solid;
    border-radius: 5px;
    padding: 10px;
    color: #404040;
}

.input-section input:focus {
    outline: none;
    border-width: 2px;
}


button {
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    white-space: nowrap;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
}

.todos-operator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#add-button {
    background-color: #1D91CC;
    color: white;

}

#delete-all-button {
    background-color: #FFE5E5;
    color: #D3180C;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filter-todos {
    background-color: #D2E9F5;
    color: #1774A3;
}

.alert {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

@media (max-width: 768px) {
    .alert {
        width: 94%;
        margin: 0 auto;
        text-align: center;
        border-radius: 4px;
        padding-top: 15px;
        padding-bottom: 30px;
        margin-top: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        z-index: -1;
    }

    .container {
        margin: 20px 15px 10px;
        padding: 16px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .input-section {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }

    .input-section input {
        margin-right: 0;
    }

    .input-section button {
        width: 100%;
    }

    .todos-operator {
        flex-direction: column;
        gap: 10px;
    }

    .todos-operator>div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .todos-operator button {
        width: 100%;
    }
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dadada;
}

th {
    background-color: #ddf0fb;
    font-weight: bold;
    color: #0C3A52;
}

th:last-child {
    border-top-right-radius: 15px;
}

th:first-child {
    border-top-left-radius: 15px;
}

td button {
    padding: 6px 12px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td button:nth-child(1) {
    background-color: #fcf0c9;
    color: #A9791c;
}

td button:nth-child(2) {
    background-color: #DEFFCF;
    color: #187e54;
}

td button:nth-child(3) {
    background-color: #FFE5E5;
    color: #D3180C;
}


@media (max-width: 768px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 15px;
        border: 1px solid #BBDEF0;
        border-radius: 18px;
        padding: 10px;
        background-color: #f1faff;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid #c0dff0;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
        color: #0C3A52;
    }

    td:last-child {
        border-bottom: none;
    }


    td[data-label="Actions"] {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        padding-left: 10px;
    }

    td[data-label="Actions"] button {
        flex: 0;
        padding: 6px 8px;
        font-size: 14px;
        white-space: nowrap;
    }

    tbody {
        margin: 12px;
        margin-top: 0;
    }
}

#alert-message {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.alert-success {
    background-color: #DEFFCF;
    color: #187e54;
}

.alert-error {
    background-color: #FFE5E5;
    color: #D3180C;
}

#edit-button {
    display: none;
    background-color: #f9eabc;
    color: #A9791c;
}